@model IEnumerable<DoAnCoSo.Models.BaiThi>

@{
    ViewData["Title"] = "Danh sách đề thi";
}

<h1 class="mt-5 mb-5">Danh sách đề thi</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mã đề thi</th>
                <th scope="col">Tên đề thi</th>
                <th scope="col">Thời gian thi</th>
                <th scope="col">Số lượng câu hỏi</th>
                <th scope="col">Mô tả</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MaDe)</td>
                        <td>@Html.DisplayFor(modelItem => item.TenBaiThi)</td>
                        <td>@Html.DisplayFor(modelItem => item.ThoiGianLamBai)</td>
                        <td>@Html.DisplayFor(modelItem => item.SoLuongCauHoi)</td>
                        <td>@Html.DisplayFor(modelItem => item.Mota)</td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="@Url.Action("Display", "BaiThi", new { id = item.Id })">Vào thi</a>
                            }
                            else
                            {
                                <div class="alert alert-warning" role="alert">
                                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Vào thi</a>
                                    Bạn cần đăng nhập hoặc đăng ký để sử dụng chức năng này.
                                </div>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Không có đề thi.</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" asp-controller="Home">Trở về</a>
</div>